@model List<ShoppingOnline.Application.Systems.Functions.Dtos.FunctionViewModel>
<div class="menu">
    <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active">
            <a href="index.html">
                <i class="material-icons">home</i>
                <span>Home</span>
            </a>
        </li>
        @foreach (var item in Model.Where(x => string.IsNullOrEmpty(x.ParentId)))
        {
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">@item.IconCss</i>
                    <span>@item.Name</span>
                </a>
                @if (Model.Any(x => x.ParentId == item.Id))
                {
                    <ul class="ml-menu">
                        @foreach (var jItem in Model.Where(x => x.ParentId == item.Id))
                        {
                            <li>
                                <a href="@jItem.URL">@jItem.Name</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }

    </ul>
</div>