@using ShoppingOnline.WebApplication.Authorization
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Home page";
}

@section styles{
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/Chart.js/dist/Chart.js"></script>
    <!-- Flot -->
    <script src="~/lib/flot/jquery.flot.js"></script>
    <script src="~/lib/flot/jquery.flot.pie.js"></script>
    <script src="~/lib/flot/jquery.flot.time.js"></script>
    <script src="~/lib/flot/jquery.flot.stack.js"></script>
    <script src="~/lib/flot/jquery.flot.resize.js"></script>

    <!-- Flot plugins -->
    <script src="~/lib/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/lib/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/lib/flot.curvedlines/curvedLines.js"></script>
    <script src="~/lib/jquery-sparkline/dist/jquery.sparkline.js"></script>
    <!-- DateJS -->
    <script src="~/lib/DateJS/build/date.js"></script>
    <script src="~/app/controllers/home/index.js" asp-append-version="true"></script>
    <script>
        var homeObj = new HomeController();
        homeObj.initialize();
    </script>
}
<div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
            <div class="count">179</div>
            <h3>New Sign ups</h3>
            <p>Lorem ipsum psdea itgum rixt.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-comments-o"></i></div>
            <div class="count">179</div>
            <h3>New Sign ups</h3>
            <p>Lorem ipsum psdea itgum rixt.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
            <div class="count">179</div>
            <h3>New Sign ups</h3>
            <p>Lorem ipsum psdea itgum rixt.</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-check-square-o"></i></div>
            <div class="count">179</div>
            <h3>New Sign ups</h3>
            <p>Lorem ipsum psdea itgum rixt.</p>
        </div>
    </div>
</div>
@if ((await AuthorizationService.AuthorizeAsync(User, "REVENUES", Operations.Read)).Succeeded)
{
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Transaction Summary <small>Weekly progress</small></h2>
                    <div class="filter">
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="demo-container" style="height:280px">
                            <div id="chart_plot_02" class="demo-placeholder"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}