<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="blog-outer-container">
        <div class="block-title">
          <h2>Most Recent Blog</h2>
        </div>
        <div class="blog-inner">
          <div class="col-sm-4 col-xs-12">
            <div class="entry-thumb"> <a href="blog_single_post.html"> <img class="img-responsive" alt="Blog" src="~/client-site/images/blog-img1.jpg"> </a> </div>
            <div class="blog-preview_info">
              <h3><a href="blog_single_post.html">Winter Morning Fabulous</a></h3>
              <ul class="post-meta">
                <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                <li><i class="fa fa-comments"></i><a href="#">12 comments</a></li>
                <li><i class="fa fa-calendar"></i>2017-02-25</li>
              </ul>
              <div class="blog-preview_desc">In adipiscing leo magna, a vehicula mi convallis ac. Vivamus volutpat, ante nec congue dictum.</div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="entry-thumb"> <a href="blog_single_post.html"> <img class="img-responsive" alt="Blog" src="~/client-site/images/blog-img1.jpg"> </a> </div>
            <div class="blog-preview_info">
              <h3><a href="blog_single_post.html">Perfect for promoting</a></h3>
              <ul class="post-meta">
                <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                <li><i class="fa fa-comments"></i><a href="#">45 comments</a></li>
                <li><i class="fa fa-calendar"></i>2018-04-05</li>
              </ul>
              <div class="blog-preview_desc">Nam a dolor dictum, dapibus libero eu, malesuada nulla. Aliquam convallis vulputate.</div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="entry-thumb"> <a href="blog_single_post.html"> <img class="img-responsive" alt="Blog" src="~/client-site/images/blog-img1.jpg"> </a> </div>
            <div class="blog-preview_info">
              <h3><a href="blog_single_post.html">Winter Morning Fabulous</a></h3>
              <ul class="post-meta">
                <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                <li><i class="fa fa-comments"></i><a href="#">15 comments</a></li>
                <li><i class="fa fa-calendar"></i>2018-02-28</li>
              </ul>
              <div class="blog-preview_desc">In adipiscing leo magna, a vehicula mi convallis ac. Vivamus volutpat, ante nec congue dictum.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>