<div class="container">
    <div class="row">
        <!-- Brand Logo -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="brand-logo">
                <div class="slider-items-products">
                    <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col6">
                            <div class="item">
                                <a href="#">
                                    <img class="img-responsive" src="~/client-site/images/brand1.png" alt="brand logo">
                                </a>
                                <a href="#">
                                    <img class="img-responsive" src="~/client-site/images/brand2.png" alt="brand logo">
                                </a>
                                <a href="#">
                                    <img class="img-responsive" src="~/client-site/images/brand3.png" alt="brand logo">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img class="img-responsive" src="~/client-site/images/brand4.png" alt="brand logo">
                                </a>
                                <a href="#">
                                    <img class="img-responsive" src="~/client-site/images/brand5.png" alt="brand logo">
                                </a>
                                <a href="#">
                                    <img class="img-responsive" src="~/client-site/images/brand6.png" alt="brand logo">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img class="img-responsive" src="~/client-site/images/brand7.png" alt="brand logo">
                                </a>
                                <a href="#">
                                    <img class="img-responsive" src="~/client-site/images/brand8.png" alt="brand logo">
                                </a>
                                <a href="#">
                                    <img class="img-responsive" src="~/client-site/images/brand9.png" alt="brand logo">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img class="img-responsive" src="~/client-site/images/brand10.png" alt="brand logo">
                                </a>
                                <a href="#">
                                    <img class="img-responsive" src="~/client-site/images/brand11.png" alt="brand logo">
                                </a>
                                <a href="#">
                                    <img class="img-responsive" src="~/client-site/images/brand12.png" alt="brand logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="jtv-testimonial-block">
                <div class="slider-items-products">
                    <div id="testimonial-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col6">

                            <!-- Quote 1 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. quis nostrud exercitation ullamco laboris nisi ut aliquip quis nostrud exercitation!</p>
                                            <div class="holder-info">
                                                <strong class="name">Vince Roy</strong> <strong class="designation">CEO, XYZ Softwear</strong>
                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>Aliquam convallis vulputate augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a dolor dictum, dapibus libero eu, malesuada nulla. Aliquam convallis vulputate augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a dolor dictum, dapibus libero eu, malesuada nulla. Aliquam convallis vulputate augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a dolor dictum. </p>
                                            <div class="holder-info">
                                                <strong class="name">John Doe</strong> <strong class="designation">CEO, ABC Softwear</strong>
                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>Integer scelerisque diam vitae aliquam fringilla. In vitae eros ac libero mattis molestie nec in magna. Aliquam sollicitudin urna nec felis blandit sodales. In adipiscing leo magna, a vehicula mi convallis ac. Vivamus volutpat, ante nec congue dictum, ipsum odio consequat justo, consectetur dignissim enim sapien ut nulla. Nunc massa ligula, fermentum sed nisl sed, lacinia vestibulum mi. Fusce et pharetra metus.</p>
                                            <div class="holder-info">
                                                <strong class="name">John Doe</strong> <strong class="designation">Managing Director</strong>
                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>