@using Microsoft.AspNetCore.Authorization
@using ShoppingOnline.WebApplication.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "User List";
}

@section styles{
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/app/controllers/user/index.js" asp-append-version="true"></script>
    <script>
        var userController = new UserController();
        userController.initialize();
    </script>
}
<input type="hidden" id="hid-category-id" value="0" />
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Users</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" id="txt-search-keyword" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="btn-search" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
            @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Create)).Succeeded)
            {
                <div class="col-md-1 col-sm-1 col-xs-12 form-group pull-right top_search">

                    <button class="btn btn-success" id="btn-create" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            }
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table id="tbl-product" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="12%"></th>
                                <th>Account</th>
                                <th>Name</th>
                                <th>Avatar</th>
                                <th>Created Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content"></tbody>
                    </table>

                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                <select id="ddl-show-page">
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                <span class="item-per-page">
                                    record/page.
                                </span>
                                Total record count: <strong id="lbl-total-records"></strong>
                            </div>
                        </div><div class="col-sm-7">
                            <div class="dataTables_paginate" id="datatable-checkbox_paginate">
                                <ul id="paginationUL"></ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script id="table-template" type="x-tmpl-mustache">
        <tr>
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update)).Succeeded)
                {

                    <button class="fa fa-pencil-square-o btn btn-info btn-xs btnEdit" data-id="{{Id}}"></button>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Delete)).Succeeded)
                {

                    <button class="fa fa-trash btn btn-danger btn-xs btnDelete" data-id="{{Id}}"></button>

                }
                @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Create)).Succeeded)
                {
                    <button class="fa fa-refresh btn btn-warning btn-xs btnReset" data-id="{{Id}}"></button>
                }
            </td>
            <td>{{UserName}}</td>
            <td>{{FullName}}</td>
            <td>{{{Avatar}}}</td>
            <td>{{{DateCreated}}}</td>
            <td>{{{Status}}}</td>
        </tr>
    </script>

</div>
<script id="role-template" type="x-tmpl-mustache">
    <div class="checkbox">
        <label>
            <input type="checkbox" {{Checked}} value="{{Name}}" name="ckRoles">
            <span class="text">{{Description}}</span>
        </label>
    </div>
</script>
@Html.Partial("_AddEditModal.cshtml")

