<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/lib/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!--notify-->
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet"/>
    <!--ckeditor-->
    <link href="~/lib/ckeditor/skins/moono/editor.css" rel="stylesheet"/>
    <!-- Custom Theme Style -->
    <link href="~/admin-site/css/custom.min.css" rel="stylesheet">

    @RenderSection("Styles", required: false)
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/admin/home" class="site_title">
                        <i class="fa fa-paw"></i> <span>Gentelella Alela!</span>
                    </a>
                </div>
                <div class="clearfix"></div>
                <!-- menu profile quick info -->
                @await Component.InvokeAsync("MenuProfileVC")
                <!-- /menu profile quick info -->
                <br/>
                <!-- sidebar menu -->
                @await Component.InvokeAsync("SideBarVC")
                <!-- /sidebar menu -->
                <!-- /menu footer buttons -->
                @await Component.InvokeAsync("MenuFooterVC")
                <!-- /menu footer buttons -->
            </div>
        </div>
        <!-- top navigation -->
        @await Component.InvokeAsync("TopNavigationVC")
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            @RenderBody()
        </div>
        <!-- /page content -->
        <!-- footer content -->
        @await Component.InvokeAsync("FooterVC")
        <!-- /footer content -->
    </div>
</div>

<script id="announcement-template" type="x-tmpl-mustache">
        <li data-id="{{Id}}" class="announcement-read">
            <a>
@*                <span class="image"><i class="fa fa-bell"></i></span> *@
                  <span class="image"><img src="{{{Avatar}}}" alt="Profile Image" /></span>
                <span>
                    <span>{{Title}}</span>
                    <span class="time">{{DateCreated}}</span>
                </span>
                <span class="message">
                    {{Content}}
                </span>
            </a>
        </li>
    </script>

<script id="announcement-tag-template" type="x-tmpl-mustache">
        <li>
            <div class="text-center">
                <a href="/admin/announcement/index">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li>
    </script>

<!-- jQuery -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- signalr -->
<script src="~/lib/signalr/signalr.js"></script>
<!-- Bootstrap -->
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="~/lib/fastclick/lib/fastclick.js"></script>
<!--Mustache-->
<script src="~/lib/mustache/mustache.js"></script>
<!-- NProgress -->
<script src="~/lib/nprogress/nprogress.js"></script>
<!-- jQuery Sparklines -->
<script src="~/lib/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="~/lib/moment/min/moment.min.js"></script>
<script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<!--Jquery Pagination-->
<script src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>
<!--Jquery Validation-->
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<!--Ck Editor-->
<script src="~/lib/ckeditor/ckeditor.js"></script>
<!--Notify-->
<script src="~/lib/notifyjs/dist/notify.js"></script>
<script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
<!--BootBox-->
<script src="~/lib/bootbox/bootbox.js"></script>

<!-- Custom Theme Scripts -->
<script src="~/app/shared/signalIR.js"></script>
<script src="~/admin-site/js/custom.min.js"></script>
<script src="~/app/shared/core.js" asp-append-version="true"></script>
<script src="~/app/shared/base.js"></script>
<script>
    var baseController = new BaseController();
    baseController.initialize();
</script>

@RenderSection("Scripts", false)
</body>
</html>