@using Microsoft.AspNetCore.Identity
@using ShoppingOnline.Data.Entities.System
@using ShoppingOnline.WebApplication.Extensions

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<div class="user-info">
    <div class="image">
        <img src="~/admin-site/images/user.png" width="48" height="48" alt="User"/>
    </div>
    <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.GetSpecificClaim("FullName")</div>
        <div class="email">@User.GetSpecificClaim("Email")</div>
        <div class="btn-group user-helper-dropdown">
            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <form action="/Admin/Account/Logout" method="post" id="logoutForm">
                        <button type="submit" class="btn btn-default waves-effect" style="padding: 7px 18px; color: #666; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; font-size: 14px; line-height: 25px;"><i class="material-icons" style="float: left; margin-right: 7px; font-size: 20px;">input</i>Sign Out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>