<section class="jtv-bestsell-section">
    <div class="container">
      <div class="slider-items-products">
        <div class="bestsell-block">
          <div class="jtv-block-inner">
            <div class="block-title">
              <h2>Best Sellers</h2>
            </div>
          </div>
          <div id="bestsell-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4 products-grid block-content">
              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"> <a href="single_product.html" class="product-link"> </a>
                      <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
                      <div class="item-content">
                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                        <div class="item-price">
                          <div class="price-box"> <span class="regular-price"> <span class="price">$225.00</span> </span> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
                      <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
                      <div class="item-content">
                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        <div class="item-price">
                          <div class="price-box"> <span class="regular-price"> <span class="price">$99.00</span> </span> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
                      <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
                      <div class="item-content">
                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                        <div class="item-price">
                          <div class="price-box">
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $156.00 </span> </p>
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $167.00 </span> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
                      <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
                      <div class="item-content">
                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                        <div class="item-price">
                          <div class="price-box"> <span class="regular-price"> <span class="price">$225.00</span> </span> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
                      <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
                      <div class="item-content">
                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                        <div class="item-price">
                          <div class="price-box"> <span class="regular-price"> <span class="price">$99.00</span> </span> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
                      <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
                      <div class="item-content">
                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                        <div class="item-price">
                          <div class="price-box">
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $156.00 </span> </p>
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $167.00 </span> </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>