<header>
    <div class="header-container">
      <div class="header-top">
        <div class="container">
          <div class="row"> 
            <!-- Header Language -->
            <div class="col-xs-12 col-sm-4 col-md-6">
              <div class="welcome-msg">Welcome to our store! </div>
              <div class="dropdown jtv-language-box"> <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> <img class="img-responsive" src="~/client-site/images/flag-english.jpg" alt="language"> English <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a class="selected" href="#"> <img class="img-responsive" src="~/client-site/images/flag-english.jpg" alt="flag"> <span>English</span></a></li>
                  <li><a href="#"> <img class="img-responsive" src="~/client-site/images/flag-default.jpg" alt="flag"> <span>French</span></a></li>
                  <li><a href="#"> <img class="img-responsive" src="~/client-site/images/flag-german.jpg" alt="flag"> <span>German</span></a></li>
                  <li><a href="#"> <img class="img-responsive" src="~/client-site/images/flag-brazil.jpg" alt="flag"> <span>Brazil</span></a></li>
                  <li><a href="#"> <img class="img-responsive" src="~/client-site/images/flag-chile.jpg" alt="flag"> <span>Chile</span></a></li>
                  <li><a href="#"> <img class="img-responsive" src="~/client-site/images/flag-spain.jpg" alt="flag"> <span>Spain</span></a></li>
                </ul>
              </div>
              <!-- End Header Language --> 
              
              <!-- Header Currency -->
              <div class="dropdown jtv-currency-box"> <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="#"> USD <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#"> $ - Dollar </a></li>
                  <li><a href="#"> £ - Pound </a></li>
                  <li><a href="#"> € - Euro </a></li>
                </ul>
              </div>
              <!-- End Header Currency --> 
              
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6 hidden-xs"> 
              <!-- Header Top Links -->
              <div class="jtv-top-links">
                <div class="links">
                  <ul>
                    <li><a title="My Account" href="account_page.html"><span class="hidden-xs">My Account</span></a></li>
                    <li><a title="Wishlist" href="wishlist.html">Wishlist</a></li>
                    <li><a title="Checkout" href="checkout.html"><span class="hidden-xs">Checkout</span></a></li>
                    <li>
                      <div class="dropdown block-company-wrapper hidden-xs"> <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="#"> More <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="about_us.html"> About Us </a></li>
                          <li><a href="#"> Track Your Order </a></li>
                          <li><a href="#"> Privacy Policy </a></li>
                          <li><a href="sitemap.html">Site Map </a></li>
                          <li><a href="#">Search Terms </a></li>
                          <li><a href="#">Advanced Search </a></li>
                        </ul>
                      </div>
                    </li>
                    <li><a href="account_page.html"><span class="hidden-xs">Log In</span></a></li>
                  </ul>
                </div>
              </div>
              <!-- End Header Top Links --> 
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="jtv-top-cart-box"> 
              <!-- Top Cart -->
              <div class="mini-cart">
                <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="shopping_cart.html"> <i class="pe-7s-cart"></i><span class="cart_count hidden-xs">2</span><span class="price hidden-xs">My Cart / $299.00</span></a> </div>
                <div>
                  <div class="jtv-top-cart-content"> 
                    
                    <!--block-subtitle-->
                    <ul class="mini-products-list" id="cart-sidebar">
                      <li class="item first">
                        <div class="item-inner"> <a class="product-image" title="Product Title Here" href="#"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"> </a>
                          <div class="product-details">
                            <div class="access"><a class="jtv-btn-remove" title="Remove This Item" href="#">Remove</a> <a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a> </div>
                            <p class="product-name"><a href="#">Product Title Here</a> </p>
                            <strong>1</strong> x <span class="price">$79.99</span> </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="item-inner"> <a class="product-image" title="Product Title Here" href="single_product.html"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"> </a>
                          <div class="product-details">
                            <div class="access"><a class="jtv-btn-remove" title="Remove This Item" href="#">Remove</a> <a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a> </div>
                            <p class="product-name"><a href="#">Product Title Here</a> </p>
                            <strong>1</strong> x <span class="price">$88.89</span> </div>
                        </div>
                      </li>
                      <li class="item last">
                        <div class="item-inner"> <a class="product-image" title="Product Title Here" href="single_product.html"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"> </a>
                          <div class="product-details">
                            <div class="access"><a class="jtv-btn-remove" title="Remove This Item" href="#">Remove</a> <a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a> </div>
                            <p class="product-name"><a href="#">Product Title Here</a> </p>
                            <strong>1</strong> x <span class="price">$85.99</span> </div>
                        </div>
                      </li>
                    </ul>
                    
                    <!--actions-->
                    <div class="actions">
                      <button class="btn-checkout" title="Checkout" type="button" onClick="checkout.html"><span>Checkout</span> </button>
                      <a href="shopping_cart.html" class="view-cart"><span>View Cart</span></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 jtv-logo-box">
            <div class="mm-toggle-wrap hidden-sm hidden-md hidden-lg">
              <div class="mm-toggle"><i class="fa fa-align-justify"></i></div>
            </div>
            <!-- Header Logo -->
            <div class="logo"> <a title="eCommerce" href="index.html"><img class="img-responsive" alt="eCommerce" src="~/client-site/images/logo.png"> </a> </div>
            <!-- End Header Logo --> 
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 hidden-xs">
            <div class="search-box">
              <form action="cat" method="POST" id="search_mini_form" name="Categories">
                <input type="text" placeholder="Search for products..." maxlength="70" name="search" id="search">
                <button type="button" class="search-btn-bg"><i class="pe-7s-search"></i>&nbsp;</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

