<section class="recently-products-section">
<div class="container">
<div class="row">
<div class="col-md-12 col-xs-12">
<div class="jtv-block-inner">
    <div class="block-title">
        <h2>Recently Viewed Products</h2>
    </div>
</div>
<div class="recently-products">
<div class="slider-items-products">
<div id="recently-viewed-products" class="product-flexslider">
<div class="slider-items">
<div class="recently-viewed-box">
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Women</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">$89.00</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Men</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span> <span class="price"> $79.00 </span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price:</span> <span class="price"> $99.00 </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Clothing</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">$75.00</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Jewellery</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">$69.00</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Kids</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">$39.00</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Handbags</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">$155.00</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Beauty</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span> <span class="price"> $69.00 </span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price:</span> <span class="price"> $89.00 </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Footwear</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">$59.00</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="recently-viewed-box">
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Women</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">$89.00</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Men</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span> <span class="price"> $79.00 </span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price:</span> <span class="price"> $99.00 </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Clothing</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">$75.00</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Women</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">$69.00</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Kids</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">$39.00</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Fashion</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">$155.00</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Beauty</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span> <span class="price"> $69.00 </span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price:</span> <span class="price"> $89.00 </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item col-md-3 col-sm-6 col-xs-12">
    <div class="item-inner">
        <div class="item-img">
            <a class="product-image" title="Product Title Here" href="single_product.html">
                <img alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg">
            </a>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <span class="cat-list">Footwear</span>
                <div class="item-title">
                    <a title="Product Title Here" href="single_product.html">Product Title Here</a>
                </div>
                <div class="item-content">
                    <div class="rating">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                    </div>
                    <div class="item-price">
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">$59.00</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>