<div class="content-page">
<div class="container">
<!-- Product Tabs-->
<div class="category-product">
<div class="navbar nav-menu">
  <div class="navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a data-toggle="tab" href="#tab-1">New Arrivals</a></li>
      <li><a data-toggle="tab" href="#tab-2">On Sale</a></li>
      <li><a data-toggle="tab" href="#tab-3">Best Rated</a></li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->

</div>
<div class="tab-container">
<!-- tab product -->
<div class="tab-panel active" id="tab-1">
  <div class="category-products">
    <ul class="products-grid">
      <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item-inner">
          <div class="item-img">
            <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
              <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
            </div>
          </div>
          <div class="item-info">
            <div class="info-inner">
              <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
              <div class="item-content">
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                <div class="item-price">
                  <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item-inner">
          <div class="item-img">
            <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
              <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
            </div>
          </div>
          <div class="item-info">
            <div class="info-inner">
              <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
              <div class="item-content">
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                <div class="item-price">
                  <div class="price-box"> <span class="regular-price"> <span class="price">$225.00</span> </span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item-inner">
          <div class="item-img">
            <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
              <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
            </div>
          </div>
          <div class="item-info">
            <div class="info-inner">
              <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
              <div class="item-content">
                <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                <div class="item-price">
                  <div class="price-box"> <span class="regular-price"> <span class="price">$99.00</span> </span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item-inner">
          <div class="item-img">
            <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
              <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
            </div>
          </div>
          <div class="item-info">
            <div class="info-inner">
              <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
              <div class="item-content">
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                <div class="item-price">
                  <div class="price-box"> <span class="regular-price"> <span class="price">$99.00</span> </span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- tab product -->
<div class="tab-panel" id="tab-2">
  <div class="category-products">
    <ul class="products-grid">
      <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item-inner">
          <div class="item-img">
            <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
              <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
            </div>
          </div>
          <div class="item-info">
            <div class="info-inner">
              <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
              <div class="item-content">
                <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                <div class="item-price">
                  <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item-inner">
          <div class="item-img">
            <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
              <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
            </div>
          </div>
          <div class="item-info">
            <div class="info-inner">
              <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
              <div class="item-content">
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                <div class="item-price">
                  <div class="price-box"> <span class="regular-price"> <span class="price">$225.00</span> </span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item-inner">
          <div class="item-img">
            <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
              <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
            </div>
          </div>
          <div class="item-info">
            <div class="info-inner">
              <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
              <div class="item-content">
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                <div class="item-price">
                  <div class="price-box"> <span class="regular-price"> <span class="price">$99.00</span> </span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item-inner">
          <div class="item-img">
            <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
              <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
            </div>
          </div>
          <div class="item-info">
            <div class="info-inner">
              <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
              <div class="item-content">
                <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                <div class="item-price">
                  <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="tab-panel" id="tab-3">
  <div class="category-products">
    <ul class="products-grid">
      <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item-inner">
          <div class="item-img">
            <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
              <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
            </div>
          </div>
          <div class="item-info">
            <div class="info-inner">
              <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
              <div class="item-content">
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                <div class="item-price">
                  <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item-inner">
          <div class="item-img">
            <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
              <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
            </div>
          </div>
          <div class="item-info">
            <div class="info-inner">
              <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
              <div class="item-content">
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                <div class="item-price">
                  <div class="price-box"> <span class="regular-price"> <span class="price">$225.00</span> </span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item-inner">
          <div class="item-img">
            <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
              <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
            </div>
          </div>
          <div class="item-info">
            <div class="info-inner">
              <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
              <div class="item-content">
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                <div class="item-price">
                  <div class="price-box"> <span class="regular-price"> <span class="price">$99.00</span> </span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="item-inner">
          <div class="item-img">
            <div class="item-img-info"><img class="img-responsive" alt="Product Title Here" src="~/client-site/images/products/product-fashion-1.jpg"><a href="single_product.html" class="product-link"> </a>
              <div class="product-actions"> <a href="shopping_cart.html"><i class="fa fa-cart-plus"></i><span> Add to cart</span></a><a href="wishlist.html"><i class="fa fa-heart-o"></i><span> Add to Wishlist</span></a> <a href="compare.html" class="add-to-compare"><i class="fa fa-signal"></i><span>Compare</span></a> </div>
            </div>
          </div>
          <div class="item-info">
            <div class="info-inner">
              <div class="item-title"> <a title="Product Title Here" href="single_product.html"> Product Title Here </a> </div>
              <div class="item-content">
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                <div class="item-price">
                  <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
</div>