<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="jtv-text-top-banner"> <a href="/#" title=""> <img class="img-responsive" src="~/client-site/images/banner-img3.jpg" alt=""> <span class="jtv-b-content middle-left"> <span class="title"> <small>Handbags</small><br>
                <span class="skincolor">Upto 75% Off</span></span><span class="btn-buy"><span>Shop now</span></span></span></a></div>
        </div>
        <div class="col-sm-6">
            <div class="jtv-text-top-banner"> <a href="/#" title=""> <img class="img-responsive" src="~/client-site/images/banner-img4.jpg" alt=""> <span class="jtv-b-content middle-left"> <span class="banner-label-wrapper"></span> <span class="title"> <small>Just Arrived</small><br>
                <span class="title-color">Modern & Unique</span></span><span class="btn-buy"><span>Buy now</span></span></span></a></div>
        </div>
    </div>
</div>