<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Update account</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">

                        <div class="form-group">
                            <input type="hidden" id="hidId" value="" />
                            <label for="txtUsername" class="col-sm-2 control-label no-padding-right">Username</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtUsername" class="form-control" id="txtUsername" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtFullname" class="col-sm-2 control-label no-padding-right">Fullname</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtFullname" class="form-control" id="txtFullname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dtBirthday" class="col-sm-2 control-label no-padding-right">Birthday</label>
                            <div class="col-sm-10">
                                <input type="datetime" name="dtBirthday" class="form-control" id="dtBirthday">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtEmail" class="col-sm-2 control-label no-padding-right">Email</label>
                            <div class="col-sm-10">
                                <input type="email" name="txtEmail" class="form-control" id="txtEmail">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtPhoneNumber" class="col-sm-2 control-label no-padding-right">Phone number</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtPhoneNumber" class="form-control" id="txtPhoneNumber">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtAddress" class="col-sm-2 control-label no-padding-right">Address</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtAddress" class="form-control" id="txtAddress">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="ckGender">
                                        <span class="text">Male</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSave" class="btn btn-success pull-right"><i aria-hidden="true" class="fa fa-floppy-o"></i></button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger pull-right"><i aria-hidden="true" class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>