@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="Fabulous is a creative, clean, fully responsive, powerful and multipurpose HTML Template with latest website trends. Perfect to all type of fashion stores.">
    <meta name="keywords" content="HTML,CSS,womens clothes,fashion,mens fashion,fashion show,fashion week">
    <meta name="author" content="JTV">
    <title>Fabulous - Multipurpose Online Marketplace HTML Template</title>

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon  -->
    <link rel="shortcut icon" type="image/x-icon" href="~/client-site/favicon.ico">

    <!-- CSS Style -->
    <link rel="stylesheet" href="~/client-site/style.css">
</head>

<body class="cms-index-index cms-home-page">

    <!-- mobile menu -->
@await Component.InvokeAsync("MobileMenuVC")
<div id="page">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Header -->
    @await Component.InvokeAsync("HeaderClientVC")
    <!-- end header -->
        <!-- Navigation -->
    @await Component.InvokeAsync("NavigationVC")
    <!-- end nav -->
        <!-- JTV Home Slider -->
    @await Component.InvokeAsync("HomeSliderVC")
    <!-- jtv bottom banner section -->
    @await Component.InvokeAsync("BannerVC")
    <!-- bestsell Slider -->
    @await Component.InvokeAsync("BestSellerVC")
    <!-- End Bestsell Slider -->
        <!-- our features -->
    @await Component.InvokeAsync("OurFeatureVC")

    <!-- Top Categories Slider -->
    @await Component.InvokeAsync("TopCategoryVC")
    <!-- End Top categories Slider -->
        <!--Product Content-->
    @await Component.InvokeAsync("ProductContentVC")
    <!--End Product Content-->
        <!--Advertisment-->
    @await Component.InvokeAsync("AdvertisementVC")
    <!--End Advertisment-->
        <!-- Latest Blog -->
    @await Component.InvokeAsync("BlogVC")
    <!-- End Latest Blog -->
        <!--Brand-->
    @await Component.InvokeAsync("BrandVC")
    <!--End Brand-->
        <!-- Recently Viewed Products Slider -->
    @await Component.InvokeAsync("ProductViewedVC")
    <!-- End Recently Viewed Products Slider -->
        <!-- Footer -->
    @await Component.InvokeAsync("FooterClientVC")
</div>

    <!-- End Footer -->
    <!-- jquery js -->
    <script src="~/client-site/js/jquery.min.js"></script>

    <!-- bootstrap js -->
    <script src="~/client-site/js/bootstrap.min.js"></script>

    <!-- owl.carousel.min js -->
    <script src="~/client-site/js/owl.carousel.min.js"></script>

    <!-- jtv-jtv-mobile-menu js -->
    <script src="~/client-site/js/jtv-mobile-menu.js"></script>
    <script src="~/client-site/js/modernizr.custom.js"></script>
    <!-- main js -->
    <script src="~/client-site/js/main.js"></script>

    <!-- rev-slider js -->
    <script src="~/client-site/js/rev-slider.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#jtv-rev_slider').show().revolution({
                dottedOverlay: 'none',
                delay: 5000,
                startwidth: 836,
                startheight: 530,
                hideThumbs: 200,
                thumbWidth: 200,
                thumbHeight: 50,
                thumbAmount: 2,
                navigationType: 'thumb',
                navigationArrows: 'solo',
                navigationStyle: 'round',
                touchenabled: 'on',
                onHoverStop: 'on',
                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,
                spinner: 'spinner0',
                keyboardNavigation: 'true',
                navigationHAlign: 'center',
                navigationVAlign: 'bottom',
                navigationHOffset: 0,
                navigationVOffset: 20,
                soloArrowLeftHalign: 'left',
                soloArrowLeftValign: 'center',
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,
                soloArrowRightHalign: 'right',
                soloArrowRightValign: 'center',
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,
                shadow: 0,
                fullWidth: 'on',
                fullScreen: 'off',
                stopLoop: 'off',
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: 'off',
                autoHeight: 'off',
                forceFullWidth: 'on',
                fullScreenAlignForce: 'off',
                minFullScreenHeight: 0,
                hideNavDelayOnMobile: 1500,
                hideThumbsOnMobile: 'off',
                hideBulletsOnMobile: 'off',
                hideArrowsOnMobile: 'off',
                hideThumbsUnderResolution: 0,
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
                fullScreenOffsetContainer: ''
            });
        });
    </script>

    <!--Newsletter Popup Start-->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog newsletter-popup">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-body">
                    <h4 class="modal-title">Signup Newsletter</h4>
                    <form id="newsletter-form" method="post" action="#">
                        <div class="content-subscribe">
                            <div class="form-subscribe-header">
                                <label>
                                    Get <strong>25%</strong> off your First order. Join our newsletter to receive the
                                    latest updates and promotions
                                </label>
                            </div>
                            <div class="input-box">
                                <input type="text" class="input-text newsletter-subscribe" title="Sign up for our newsletter" name="email" placeholder="Enter your email address">
                                <button class="button-subscribe" title="Subscribe" type="submit">Subscribe</button>
                            </div>
                        </div>
                    </form>
                    <ul class="social">
                        <li>
                            <a href="#.">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#.">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#.">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#.">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="subscribe-bottom">
                        <input name="notshowpopup" id="notshowpopup" type="checkbox">
                        Don’t show this popup again
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Newsletter Popup-->

</body>
</html>