<div class="our-features-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="feature-box"> <i class="pe-7s-plane"></i>
                    <div class="content">
                        <h3>Free Shipping Worldwide</h3>
                        <p>Free Shipping on Orders over $99</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="feature-box"> <i class="pe-7s-piggy"></i>
                    <div class="content">
                        <h3>Money Back Guarantee</h3>
                        <p>To establish a selling price for a product</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="feature-box"> <i class="pe-7s-headphones"></i>
                    <div class="content">
                        <h3>Online Support 24/7</h3>
                        <p>In order to provide 24X7 customer support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>