<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="jtv-text-top-banner"> <a href="/#" title=""> <img class="img-responsive" src="~/client-site/images/banner-img6.jpg" alt=""> <span class="jtv-b-content top-center"> <span class="title"><span class="black-text">Men's</span><br>
                <small>New Arrivals</small></span> </span></a></div>
        </div>
        <div class="col-sm-4">
            <div class="jtv-text-top-banner"> <a href="/#" title=""> <img class="img-responsive" src="~/client-site/images/banner-img7.jpg" alt=""> <span class="jtv-b-content middle-center"> <span class="strong-title">25% OFF</span> </span> <span class="jtv-b-content bottom-center"> <span class="text-left"> <span class="media-body text-right"><span class="subtitle skincolor">Imagination<br>
                is a gift</span></span> </span> </span> <span class="jtv-b-price-box"> <span class="banner-text-wrapper"> <span class="jtv-b-price-text">From</span> <span class="jtv-b-price">$129</span> </span> </span></a></div>
        </div>
        <div class="col-sm-4">
            <div class="jtv-text-top-banner"> <a href="/#" title=""> <img class="img-responsive" src="~/client-site/images/banner-img8.jpg" alt=""> <span class="jtv-b-content top-center"> <span class="title"><span class="black-text">Women's</span><br>
                <small>What You Love</small></span> </span></a></div>
        </div>
    </div>
</div>