<section class="top-categories-section">
    <div class="container">
      <div class="slider-items-products">
        <div class="top-block">
          <div class="jtv-block-inner">
            <div class="block-title">
              <h2>Top Categories</h2>
            </div>
          </div>
          <div id="top-cat-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4 products-grid block-content">
              <div class="jtv-top-categories"> <a href="#">
                <figure> <img src="~/client-site/images/products/product-fashion-1.jpg" alt="Clothing">
                  <figcaption>
                    <h3>Clothing</h3>
                    <span>22 Products</span> </figcaption>
                </figure>
                </a> </div>
              <div class="jtv-top-categories"> <a href="#">
                <figure> <img src="~/client-site/images/products/product-fashion-1.jpg" alt="Shoes">
                  <figcaption>
                    <h3>Shoes</h3>
                    <span>15 Products</span> </figcaption>
                </figure>
                </a> </div>
              <div class="jtv-top-categories"> <a href="#">
                <figure> <img src="~/client-site/images/products/product-fashion-1.jpg" alt="Handbags">
                  <figcaption>
                    <h3>Handbags</h3>
                    <span>10 Products</span> </figcaption>
                </figure>
                </a> </div>
              <div class="jtv-top-categories"> <a href="#">
                <figure> <img src="~/client-site/images/products/product-fashion-1.jpg" alt="Jewelry">
                  <figcaption>
                    <h3>Jewelry</h3>
                    <span>16 Products</span> </figcaption>
                </figure>
                </a> </div>
              <div class="jtv-top-categories"> <a href="#">
                <figure> <img src="~/client-site/images/products/product-fashion-1.jpg" alt="Watches">
                  <figcaption>
                    <h3>Watches</h3>
                    <span>25 Products</span> </figcaption>
                </figure>
                </a> </div>
              <div class="jtv-top-categories"> <a href="#">
                <figure> <img src="~/client-site/images/products/product-fashion-1.jpg" alt="Sunglasses">
                  <figcaption>
                    <h3>Sunglasses</h3>
                    <span>8 Products</span> </figcaption>
                </figure>
                </a> </div>
              <div class="jtv-top-categories"> <a href="#">
                <figure> <img src="~/client-site/images/products/product-fashion-1.jpg" alt="Accessories">
                  <figcaption>
                    <h3>Accessories</h3>
                    <span>30 Products</span> </figcaption>
                </figure>
                </a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>