@using ShoppingOnline.WebApplication.Extensions
<div class="profile clearfix">
    <div class="profile_pic">
        <img src="@User.GetSpecificClaim("Avatar")" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>@User.GetSpecificClaim("FullName")</h2>
    </div>
</div>
