@model ShoppingOnline.WebApplication.Models.AccountViewModel.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot password";
    ViewData["MetaDescription"] = "Shopping cart";
    ViewData["MetaKeyword"] = "Shopping cart";
}

<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a asp-area="" asp-controller="Home" asp-action="Index">Home</a><span>&raquo;</span></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="ForgotPassword"><strong>Forgot password</strong></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="my-account">
                    <div class="page-title">
                        <h2>Forgot password</h2>
                    </div>
                    <div class="dashboard">
                        <div class="page-content">
                            <div class="account-login">
                                <div class="col-md-4" style="padding-left: 0px">
                                    <div class="single-input p-bottom50 clearfix">
                                        <form asp-action="ForgotPassword" method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="Email"></label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                            <button type="submit" class="btn btn-default">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
