
@model ShoppingOnline.WebApplication.Models.AccountViewModel.PasswordViewModel

@{
    ViewData["Title"] = "Update your password";
    ViewData["MetaDescription"] = "Shopping cart";
    ViewData["MetaKeyword"] = "Shopping cart";
}

<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a asp-area="" asp-controller="Home" asp-action="Index">Home</a><span>&raquo;</span></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Index"><strong>Update password</strong></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-9 col-xs-12">
                <div class="my-account">
                    <div class="page-title">
                        <h2>Update password</h2>
                    </div>
                    <div class="dashboard">
                        <div class="page-content">
                            <div class="account-login">
                                <div class="col-md-12">
                                    <div class="single-input p-bottom50 clearfix">
                                        <form method="post" asp-area="" asp-controller="Account" asp-action="UpdatePassword">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="check-title">
                                                        <div asp-validation-summary="All" class="text-danger"></div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <label>Current password:</label>
                                                    <div class="input-text">
                                                        <input type="password" asp-for="CurrentPassword" name="currentPassword" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="clearfix"></div>

                                                <div class="col-sm-6">
                                                    <label>New password:</label>
                                                    <div class="input-text">
                                                        <input type="password" asp-for="Password" name="password" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="clearfix"></div>

                                                <div class="col-sm-6">
                                                    <label>Confirm password</label>
                                                    <div class="input-text">
                                                        <input type="password" asp-for="ConfirmPassword" name="confirmPassword" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>


                                                <div class="col-xs-12">
                                                    <div class="submit-text">
                                                        <button type="submit" class="button"><i class="fa fa-user"></i>&nbsp; <span>Update</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="right sidebar col-sm-3 col-xs-12">
                <div class="sidebar-account block">
                    <div class="sidebar-bar-title">
                        <h3>My Account</h3>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li><a asp-area="" asp-controller="Account" asp-action="UpdateAccount">Update account</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="UpdatePassword">Update password</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- service section -->